/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2021, 11:02:46 PM
    Author     : quang
*/

body{
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
}
.header-right{
    height: auto;
    background-color: #303030;
    margin: 0;
    padding: 7px 15px;
    color: white;
}
.header-right h4{
    font-family: 'Times New Roman',Helvetica,Arial,sans-serif;
    font-size: 22px;
    line-height: 38px;
    color: #ffffff;
    margin: 0;
}
.social{   
    width: 100%;
    height: auto;
    background-color: #8b3134;
}
.social ul{
    margin: 0;
    list-style: none;
    padding: 15px 15px;
}
.social ul li{
    line-height: 22px;
    display: flex;
    list-style: none;
}
.social img{
    margin-top: 2px;
    height: 16px;
    width: 16px;

}
.social ul li a{
    color: #ffffff;
}
